.content {
    width: 100%;
    padding: 1rem;
}

.not_found {
    text-align: center;
}

.email {
    width: 80%;
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 2rem;
    margin: 1rem auto;

    h3 {
        margin: 1rem 0;
    }
    h2 {
        margin: 0;
    }
    span {
        font-size: 1.5rem;
        color: #646cff;

    }
}

.email_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
}